.experiencia {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 15px;
}

.subtitulo {
  color: #E0E0E0;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 60px;
}

.experiencia-texto {
  font-size: 1.14rem;
  line-height: 1.5;
  color: #525252;
  max-width: 60ch;
  padding-bottom: 50px;
  margin: 0 auto;
}

.empresa {
  margin-bottom: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 20px;
  background-color: #ebebeb;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.233);
}

.empresa-ano {
  font-weight: bold;
  color: #070707;
  font-size: 1.2rem;
}

.empresa-titulo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #070707;
}


.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
  color: #070707;
}

.empresa-habilidades li {
  line-height: 1.5;
  border-radius: 8px;
  background-color: #1986a162;
  padding: 5px 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.233);
}


.experiencia-texto strong {
  color: #141414;
}