.formacao {
  background-color: #121212;
  padding: 60px 20px;
}

.formacao-container {
  max-width: 1200px;
  margin: 0 auto;
}

.formacao .subtitulo {
  color: #E0E0E0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8rem;
  margin-bottom: 40px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.formacao-texto {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #A0A0A0;
  max-width: 60ch;
  margin: 0 auto 40px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.formacao-texto strong,
.faculdade-tipo,
.faculdade-instituicao {
  color: #D4D4D4;
}

.faculdade-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

.faculdade {
  background-color: #1A1A1A;
  padding: 20px;
  border-bottom: 3.5px solid #6FCF97;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #6FCF97;
  align-items: center;
}

.faculdade-curso {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5px 0;
  color: #E0E0E0;
  flex: 1;
}

.faculdade-instituicao {
  font-size: 0.95rem;
  color: #bdbdbd;
}

.formacao-extra {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cursos h3 {
  font-size: 1.2rem;
  color: #6FCF97;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
}

.cursos li {
  background-color: #3D7045;
  color: #fff;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 1rem;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
}

.animar {
  opacity: 0;
  transform: translateY(20px);
  animation: surgir 0.8s ease-out forwards;
}

@keyframes surgir {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {

  .formacao-texto {
    font-size: 1rem;
    padding: 0 10px;
  }

  .faculdade {
    text-align: center;
  }


  .cursos li {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

@media (min-width: 1300px) {
  .formacao {
    padding: 100px 0;
  }

  .formacao .subtitulo {
    font-size: 5rem;
  }

  .formacao-texto {
    font-size: 1.2rem;
  }

  .faculdade-curso {
    font-size: 1.3rem;
  }

  .cursos li {
    font-size: 1rem;
    padding: 12px 20px;
  }
}
