.formacao{
  background-color: #141414;
  color: #FFFFFF;
  margin: 0 auto;
}

.formacao-titulo{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.formacao-texto{
  font-size: 1.14rem;
  line-height: 1.5;
  color: #525252;
  max-width: 60ch;
  padding-bottom: 50px;
}

.formacao-texto strong{
  color: white;
}


