/* Header atualizado */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141414;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-bottom: 1px solid #3D7045;
  position: relative;
  z-index: 1000;
}

.header-nome a {
  margin-left: 5px;
  color: #E0E0E0;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}

.header-nome a:hover {
  color: #3D7045;
  transition: color 0.2s ease;
}

.header-menu {
  display: flex;
  gap: 10px;
}

.header-menu a {
  background-color: #3D7045;
  border-radius: 8px;
  padding: 6px 10px;
  color: #E0E0E0;
  font-size: 0.9rem;
  text-decoration: none;
  transition: background 0.2s ease, padding 0.2s ease;
}

.header-menu a:hover {
  background-color: #233548;
  padding: 7px 12px;
}

/* Botão hambúrguer */
.hamburguer-btn {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #E0E0E0;
  cursor: pointer;
}

/* Menu lateral direito */
.mobile-menu {
  position: fixed;
  top: 70px;
  right: -220px;
  width: 200px;
  background-color: #1f1f1f;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  transition: right 0.4s ease;
  z-index: 999;
}

.mobile-menu a {
  color: #E0E0E0;
  background-color: #3D7045;
  padding: 8px 10px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.2s;
}

.mobile-menu a:hover {
  background-color: #233548;
}



/* Mostrar botão no mobile e esconder menu normal */
@media (max-width: 768px) {
  .header-menu {
    display: none;
  }

  .hamburguer-btn {
    display: block;
  }

  
}

/* Esconde completamente o menu lateral em telas grandes */
@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
}