.header{
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: #141414;
  box-shadow: 2px 2px 2px black;
  padding: 10px;

}

.header-nome a{
  margin-left: 8px;
  color: #E0E0E0;
  font-size: 1.5rem;
}

.header-nome a:hover {
  color: #3D7045;
  transition: all 0.2s ease;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header-menu a{
  background-color: #3D7045;
  border-radius: 15px;
  padding: 3px 5px;
  color: #E0E0E0;
}

.header-menu a:hover {
  background-color: #233548;
  padding: 8px;
  transition: all 0.2s ease;
}