.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 15px 30px;
  margin: 5px;
  border-radius: 100px 0px;
  background-color: black;
  box-shadow: 2px 2px 2px black;
}

.header-nome {
  display: flex;
  flex-wrap: wrap;
}

.header-nome a {
  margin-left: 5px;
  font-size: 2rem;
  font-family: 'Ephesis', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  word-spacing: 0.5rem;
}

.header-nome a:hover {
  color: #1985A1;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header-menu a {
  padding: 5px 10px;
  border-radius: 25px;
  background-color: #3E8914;
  color: #e9e7e7;
  transition: all 0.2s ease;
}

.header-menu a:hover {
  padding: 10px;
  background-color: #1985A1;
  color: white;
}

@media (max-width: 705px) {
  .header {
    gap: 2px;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .header-nome a {
    font-size: 1.6rem;
  }

  .header-menu a {
    font-size: .9rem;
  }
}

@media (max-width: 520px){
  .header{
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    gap: 20px;
    margin: 0px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

    .header-nome a {
    font-size: 2rem;

  }

  .header-menu a {
    font-size: 1rem;
  }
}