.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141414;
  border-bottom: 1px solid #3D7045;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 10px;
}

.header-nome a {
  color: #6FCF97;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  margin-left: 20px;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu a {
  color: #E0E0E0;
  text-decoration: none;
  font-size: 0.95rem;
  font-family: 'Inter', sans-serif;
  position: relative;
  margin-right: 20px;
}

.header-menu a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #6FCF97;
  transition: width 0.3s ease;
}

.header-menu a:hover::after {
  width: 100%;
}

.hamburguer-btn {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #E0E0E0;
  cursor: pointer;
  margin-right: 20px;
}

.mobile-menu {
  position: fixed;
  top: 70px;
  right: -220px;
  width: 200px;
  background-color: #1f1f1f;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  transition: right 0.4s ease;
  z-index: 999;
}

.mobile-menu a {
  color: #E0E0E0;
  background-color: #3D7045;
  padding: 8px 10px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.2s;
}

.mobile-menu a:hover {
  background-color: #233548;
}

/* Responsivo */
@media (max-width: 768px) {
  .header-menu {
    display: none;
  }

  .hamburguer-btn {
    display: block;
  }
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
}
