.introducao {
  max-width: 1200px;
  padding: 60px;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
}

.introducao h1 {
  font-family: "FiraSans-Bold", Arial, Helvetica, sans-serif;
  line-height: 1.125;
  position: relative;
  font-size: 1.475rem;
  margin-bottom: 30px;
}

.introducao section > h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/detalhe.svg);
  position: absolute;
  top: -35px;
  left: -60px;
  z-index: -1;
  background-repeat: no-repeat;
}

.introducao p {
  color: #8f918f;
  font-size: 1.2rem;
}

.detalhe::after {
  content: "";
  display: block;
  max-width: 1000px;
  height: 4px;
  margin: 0 auto 60px;
  border-radius: 70%;
  background: linear-gradient(180deg, #70DA1C 49%, #86fc27 52%);
}
