.introducao{
  max-width: 1000px;
  padding: 30px;
  display: flex;
  gap: 125px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
}

.introducao img{
  box-shadow: 1px 1px 3px black;
}

.introducao h1{
  font-size: 4.5rem;
  line-height: 1.125;
  position: relative;
  margin-bottom: 30px;
}

.introducao section > h1::before{
  content:"";
  display: block;
  width: 130px;
  height: 100px;
  background: url(/img/detalhe.svg);
  position: absolute;
  top: -35px;
  left: -60px;
  z-index: -1;
}

.introducao p{
  font-size: 1.5rem;
  color: #46454552;
}

@media (max-width: 1000px){
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao p{
    font-size: 1.25rem;
  }
  .introducao img {
    max-width: 200px;
  }

  .introducao {
    gap: 80px;
    margin-left: -20px
  }
}

@media (max-width: 710px){
  .introducao {
    gap: 80px;
    margin-left: -20px
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao p{
    font-size: 1rem;
  }
  .introducao img {
    max-width: 150px;
  }
  
}

@media (max-width: 501px){
  .introducao {
    gap: 40px;
  }
  .introducao img {
    max-width: 125px;
  }
  .introducao section > h1::before{
    content: none;
  }
}